@model IEnumerable<ProyectoRH.Models.Empleados>

@{
    ViewBag.Title = "Index";
}
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="@Url.Action("Index","Home")">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-brand">
                <a class="nav-link" href="@Url.Action("About","Home")">About<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-brand">
                <a class="nav-link" href="@Url.Action("Contact","Home")">Contactos<span class="sr-only">(current)</span></a>

            </li>

        </ul>
    </div>
</nav>
<p></p>
<p>
    <a href="@Url.Action("Create","Empleados")" class="btn btn-primary">Crear</a>
</p>
<body>
    <div class="panel panel-default table-dark">
        <div class="panel-heading text-capitalize">
            <h3>Departamentos</h3><form action="Index" method="post">
                @Html.TextBox("SearchString")
                <input type="submit" value="Search" />
            </form><h3 class="text-right"></h3>
        </div>
        </div>
        <div class="opacity" id="tablePanelBody" class="panel-body">
            <table class="table table-dark  table-bordered table-hover specialCollapse">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaIngreso)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Salario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cargos.Cargo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Departamentos.Nombre)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.FechaIngreso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Salario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cargos.Cargo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departamentos.Nombre)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CodigoEmpleado }) |
                            @Html.ActionLink("Details", "Details", new { id = item.CodigoEmpleado }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CodigoEmpleado })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</body>





